@{
    ViewBag.Title = "Blog";
}






<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

<div class="container-fluid" style="margin-top:-45px">
    <div class="row">
        <div class="col-12">
            <h3>Noticias</h3>
            <div class="row">
               
                <div class="col-4">
                    <p>Noticia 1</p>
                    <a  href="#"><img src="~/Imgs/index_1.jpg" class="img-thumbnail" style="border-radius:15px"></a>

                </div>
                <hr />
                <div style="margin-top:30px" class="col-6">
                    <div class="card-title"style="text-align:center;background-color:#8C8473;border-radius:15px;
    ">
                        <h3>Testimonios</h3>
                        <p>" dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
                    </div>
                    <div style="margin-top:70px" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                        <div style="text-align:center" class="carousel-inner">
                            <div class="carousel-item active">
                                <h6>UserId</h6>
                                <a href="#"><img src="~/Imgs/logo.png" class="img-thumbnail" style="border-radius:15px;height:70px"></a>

                                <br />
                                <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
                            </div>
                            <div class="carousel-item">
                                <h6>UserId</h6>
                                <a href="#"><img src="~/Imgs/logo.png" class="img-thumbnail" style="border-radius:15px;height:70px"></a>

                                <br />
                                <p>" dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
                            </div>
                            <div class="carousel-item">
                                <h6>UserId</h6>
                                <a href="#"><img src="~/Imgs/logo.png" class="img-thumbnail" style="border-radius:15px;height:70px"></a>

                                <br />
                                <p>"Neque porro  dolor sit amet, consectetur, adipisci velit..."</p>
                            </div>
                        </div>
                        <a style=" height: 30px; width: 25px; outline: black; background-color: rgba(0, 0, 0, 0.3); background-size: 100%, 100%; border-radius: 50%; border: 1px solid black;" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a style=" height: 30px; width: 25px; outline: black; background-color: rgba(0, 0, 0, 0.3); background-size: 100%, 100%; border-radius: 50%; border: 1px solid black;" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div class="row">
                        <div class="col-3">



                        </div>

                        <div class="col-3">
                        </div>
                        <div class="col-3">
                        </div>
                    </div>



                </div>


               


            </div>
            <div class="row">
                <div class="col-4">
                    <p>Noticia 2</p>
                    <a href="#"><img style="border-radius:15px" src="~/Imgs/index_1.jpg" class="img-thumbnail"></a>
                </div>
                <hr />
                <div class="col-6">

                    <div class="card">


                        <h5 style="background-color:#8C8473" class="card-header"><ion-icon name="calendar-outline"> </ion-icon>  Evento</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <a href="#"><img src="~/Imgs/logo.png" class="img-thumbnail" style="border-radius:15px;height:70px"></a>
                                </div>
                                <div class="col-8">
                                    <h6>Evento 1</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non laoreet nunctus c. Nullam dictum sem ut commodo vestibulum. Pellentesque habitant morbi tristique seneet netus et malesuada fames ac turpis egestas.</p>


                                </div>
                                <div class="col-8">
                                    <h6>Fecha</h6>
                                    <p>dd/mm/yyyy</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div style="margin-top:40px;" class="card">


                        <h5 style="background-color:#8C8473" class="card-header"><ion-icon name="calendar-outline"> </ion-icon>  Evento</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <a href="#"><img src="~/Imgs/logo.png" class="img-thumbnail" style="border-radius:15px;height:70px"></a>
                                </div>
                                <div class="col-8">
                                    <h6>Evento 2</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non laoreet nunctus c. Nullam dictum sem ut commodo vestibulum. Pellentesque habitant morbi tristique seneet netus et malesuada fames ac turpis egestas.</p>


                                </div>
                                <div class="col-8">
                                    <h6>Fecha</h6>
                                    <p>dd/mm/yyyy</p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>