


<div id="notfound">
    <div style="text-align:center; position:relative;">
        <img src="~/Imgs/Empty.png" class="img-thumbnail" />
        <div class="MainColor" style="background-color: #D17580 !important">
            @Html.ActionLink("Comprar ya!", "Servicios", "Home", null, new { @class = "btn btn-outline-btn" })
        </div>
        

    </div>
    
</div>